.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(43, 43, 43); 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

